<style>
    .sharer {
        text-align: center;
    }
    .sharer a {
        -webkit-transition: all .2s ease-in-out;
        vertical-align: top;
        line-height: 2.5em;
        font-size: 2em;
        margin: 10px;
    }
    .sharer a:hover {
        color: grey;
    }
    .facebook-share {
        color: #3b5998;
    }
    .twitter-share {
        color: #55acee;
    }
</style>
<div class="sharer">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}{{page.url}}" class="facebook-share icon-facebook"></a>
    <a target="_blank" href="https://twitter.com/home?status={{url}}{{page.url}}" class="twitter-share icon-twitter"></a>
</div>