<style>
    .sharer {
        text-align: center;
    }
    .sharer a {
        font-size: 2em;
        margin: 10px;
    }
    .facebook-share {

    }
    .twitter-share {

    }
</style>
<div class="sharer">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}{{page.url}}" class="facebook-share icon-facebook"></a>
    <a target="_blank" href="https://twitter.com/home?status={{url}}{{page.url}}" class="twitter-share icon-twitter"></a>
</div>